description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ this.page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}" />
    <link type="text/css" rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}" />
</head>
<body>
    {% page %}
</body>
</html>
